Source: revpi-nodered
Section: electronics
Priority: optional
Maintainer: KUNBUS GmbH <support@kunbus.com>
Build-Depends:
  dh-sysuser,
  debhelper-compat (= 13),
  npm,
Standards-Version: 4.6.2
Homepage: https://revolutionpi.com/
Rules-Requires-Root: no
Vcs-Git: https://gitlab.com/revolutionpi/revpi-nodered.git -b debian/bookworm
Vcs-Browser: https://gitlab.com/revolutionpi/revpi-nodered

Package: revpi-nodered
Architecture: any
Multi-Arch: foreign
Depends:
  nodejs (>= 18),
  ${misc:Depends},
  ${shlibs:Depends},
Breaks:
  noderedrevpinodes-server (<< 1.0.5~),
  noderedrevpinodes-server (>= 1.2.0~),
Conflicts:
  nodered,
  node-red-contrib-revpi-nodes,
Replaces:
  nodered,
  node-red-contrib-revpi-nodes,
Suggests:
  noderedrevpinodes-server,
Recommends:
  revpi-nodered-proxy-apache | revpi-nodered-proxy-nginx,
Description: Revolution Pi Node-RED Server
 This package installs a systemd unit file to run Node-RED as a server process
 in the background. The Node-RED process is executed under the own system user
 "nodered" and restricted to certain access via sandbox settings of systemd.

Package: revpi-nodered-proxy-apache
Architecture: all
Multi-Arch: foreign
Depends:
  ${misc:Depends},
  revpi-cert-wizard,
  revpi-nodered,
  revpi-webserver-apache,
Breaks:
  revpi-nodered-proxy-nginx,
Replaces:
  revpi-nodered-proxy-nginx,
Description: Revolution Pi Node-RED Reverse Proxy configuration for Apache
 Apache2 configuration to enable a secure reverse proxy for insecure Node-RED
 traffic. Revolution Pi is a set of IoT products based on the Raspberry Pi and
 geared towards industrial usage.
