[Unit]
Description=Node-RED graphical event wiring tool
Wants=network.target
Documentation=http://nodered.org/docs/hardware/raspberrypi.html

[Service]
Type=simple
User=nodered
# You can change the "Group" to "dialout", if you want to access RS485 devices
Group=nodered
WorkingDirectory=/var/lib/revpi-nodered

# systemd sandboxing process
ProtectSystem=strict
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes

# Allow writing to the home directory after ProtectSystem=strict sets the file system to read only.
ReadWritePaths=/var/lib/revpi-nodered

# Restrict file system access to the following directories
InaccessiblePaths=/boot /home /root

Environment="NODE_OPTIONS=--max_old_space_size=512"
# define an optional environment file in Node-RED's user directory to set custom variables externally
EnvironmentFile=-/var/lib/revpi-nodered/.node-red/EnvironmentFile
# uncomment the next line for a more verbose log output
#Environment="-v"

ExecStart=/usr/bin/env /usr/share/revpi-nodered/node_modules/node-red/bin/node-red-pi $NODE_OPTIONS $NODE_RED_OPTIONS -D uiPort=1881 -D uiHost=127.0.0.1

# Use SIGINT to stop
KillSignal=SIGINT

# Auto restart on crash
Restart=on-failure
RestartSec=20

# Tag things in the log
SyslogIdentifier=Node-RED

[Install]
WantedBy=multi-user.target
